<article class="Home_aboutUs">
    <div class="Home_aboutUs_image">
        <img src="images/aboutUs.home.jpg" alt="" class="Home_aboutUs_image2">
        <div class="image_cover"></div>
        <img src="images/asian-family-buying-new-house.jpg" alt="" class="Home_aboutUs_image1">
        
    </div>
    <div class="Home_aboutUs_content">
        <h3 class="Home_aboutUs_heading">درباره ما</h3>

        <p class="Home_aboutUs_text">سلام (S-L-M) ریشه سه حرفی در زبان‌های سامی است که به عنوان اسم روائی در این زبان‌ها به‌کار می‌رود. معنی این سه حرف به معنای کامل، دست ‌نخورده، و بمعنی صلح است. کلمات ساخته‌شده با آن به معنای آرامش، تسلیم، و سلامتی می‌باشند. این لغت از طریق عربی به فارسی و برخی زبان‌های دیگر نیز وارد شده‌است. از زبان نیاسامی است و واژه‌های شَلوم (Shalom) (به عبری: שלום) و شْلاماء (به سریانی: ܫܠܡܐ) ازجمله واژه‌های هم‌خانواده و هم‌معنی آن هستند. در زبان عربی بیشتر به شکل سلام علیکم استفاده می‌شود که ریشه آن سلم است و معنی سلامت باشید نیز می‌دهد. </p>
<a href="#">
    <button class="Home_aboutUs_but">بیشتر بخوانید</button>
</a>
    </div>
</article>