<footer class="footer">
    <div>
        
        <h5 class="footer_heading">ما را در فضای مجازی دنبال کنید</h5>
        <div class="footer_social">
            <a href="#">
                <img src="images/instagram.png" alt="" class="footer_icon_social">
            </a>
            <a href="#">
                <img src="images/twitter.png" alt="" class="footer_icon_social">
            </a>
            <a href="#">
                <img src="images/whatsapp.png" alt=""class="footer_icon_social">
            </a>
        </div>
        
    </div>
    <div class="footer_contact">
        <h5 class="footer_heading ">تماس با ما</h5>
        <div class="footer_contact_way">
            <p class="footer_text">09171749570</p>
            <img src="images/phone.png" alt="" class="footer_icon">
        </div>
        <div class="footer_contact_way">
            <p class="footer_text">fatemeh.firoozpour@gmail.com</p>
            <img src="images/email.png" alt="" class="footer_icon">
        </div>
    </div>
</footer>