<section class="Home_head">
                        
    <div class="Home_head_square1">
        <div class="Home_head_square2">
            <h2 class="Home_head_square_content">تجربه صحبت می‌کند</h2>
        </div>
        <ul class="Home_head_ranks">
            <li class="">
                <ul class="Home_head_ranks_list">
                    <a href="#">
                    <li class="Home_head_ranks_item">رهن</li>
                    <li class="Home_head_ranks_item">1000</li>
                    </a>
                </ul>
            </li>
            <li class="">
                <ul class="Home_head_ranks_list">
                    <a href="">
                    <li class="Home_head_ranks_item">کرایه</li>
                    <li class="Home_head_ranks_item">900</li>
                    </a>
                </ul>
            </li>
            <li class="">
                <ul class="Home_head_ranks_list">
                    <a href="">
                    <li class="Home_head_ranks_item">فروش</li>
                    <li class="Home_head_ranks_item">800</li>
                </a>
                </ul>
            </li>
        </ul>
    </div>

<div class="Home_nav">
<ul class="Home_nav_list List_1">
<li class="Home_nav_item"> <a href="#">ورود</a></li>
<li class="Home_nav_item"> <a href="#">ثبت نام</a></li>
</ul>
<ul class="Home_nav_list List_2">
<li class="Home_nav_item"> <a href="#">درباره ما</a></li>
<li class="Home_nav_item"> <a href="#">تماس با ما</a></li>
<li class="Home_nav_item"> <a href="#">خانه</a></li>
</ul>
</div>

<div class="Home_head_shadow">
<h1 class="Home_head_content">خانه خود را رویایی بیابید</h1>
</div>
<img src="images/logo.png" alt="" class="Home_head_logo">
<img src="images/home4.jpg" class="Home_head_image">
</section>