<div class="Service">
    <img src="images/service-BG.png" alt="" class="Service_BGimage">
    <div class="Service_shadow"><h3>خدمات ما</h3></div>
    <article class="Service_cols">
        <div class="Service_col">
            <a href="#">
                <img src="images/apartment.png" alt="" class="Service_image">
                <h4 class="Service_title">آپارتمانی</h4>
            </a>
        </div>
        <div class="Service_col">
            <a href="#">
            <img src="images/house.png" alt="" class="Service_image">
            <h4 class="Service_title">ویلایی</h4>
        </a>
        </div>
        <div class="Service_col">
            <a href="#">
            <img src="images/office.png" alt="" class="Service_image">
            <h4 class="Service_title">اداری</h4>
        </a>
        </div>
    </article>
</div>